.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  z-index: 1000; /* ensure modal is on top */
}

.modal__error{
  color: red;
  font-size: 14px;
  margin-top: -16px;
  margin-bottom: 16px;
}

.modal_opened {
  visibility: visible;
  transition: all 0.3s ease-in-out;
}

.modal__content {
  background-color: #fff;
  position: relative; /* important for positioning the close button */
  padding: 28px 28px 36px;
  max-width: 496px;
  width: 100%;
  box-sizing: border-box;
  font-family: "CabinetGrotesk-Bold", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  z-index: 1001; /* above the overlay */
}

.modal__title {
  margin: 0;
  color: #000;
  margin-bottom: 24px;
  font-size: 16px;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  border: none;
  background: none;
  cursor: pointer;
  z-index: 1002; /* above modal content */
}

.modal__close img {
  width: 24px; /* or whatever size you prefer */
  height: 24px;
}

.modal__close:hover {
  opacity: 0.5;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #000;
  margin-bottom: 24px;
  padding: 8px 0;
  box-sizing: border-box;
}

.modal__radio-buttons {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.modal__legend {
  margin: 0;
  margin-bottom: 12px;
}

.modal__label_type_radio {
  margin-bottom: 8px;
  opacity: 0.5;
  transition: opacity 0.2s ease;
  display: flex;
  align-items: center;
  gap: 8px;
}

.modal__label_type_radio:has(.modal__radio-input[type="radio"]:checked) {
  opacity: 1;
}

.modal__radio-input[type="radio"]:checked::before {
  background-color: #000;
}

.modal__radio-input[type="radio"]::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.modal__radio-input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #000;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  position: relative;
}

.modal__submit {
  width: 124px;
  height: 36px;
  border-radius: 4px;
  border: none;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  margin: 32px 12px 0 0;
}

.modal__submit:hover {
  opacity: 0.6;
}

.modal__submit:disabled {
  opacity: 0.3;
}

.success {
  margin-top: 16px;
  color: green;
  font-size: 14px;
}

