.toggle-switch {
    position: relative;
    width: 56px;
    height: 28px;
    border: 2px solid black;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
    margin: 0 20px 0 auto;
    font-family: 'CabinetGrotesk-Bold', sans-serif;
    font-size: 14px;
    mix-blend-mode: multiply;
}

.toggle-switch__checkbox {
opacity: 0;
}

.toggle-switch__circle {
    background-color: black;
    width: 28px;
    height: 28px;
    position: absolute;
    border-radius: 50%;
    left: 0;
    transition: all 0.5s ease-in-out;
  mix-blend-mode: screen;
    mix-blend-mode: difference;
}

.toggle-switch__text_F,
.toggle-switch__text_C {
  position: absolute; 
  top: 5px;
  color: grey;
}

.toggle-switch__text_F {
  left: 9px;
}

.toggle-switch__text_C {
  right: 9px;
}

.toggle-switch__checkbox:checked ~ .toggle-switch__circle {
    left: 28px;
}

@media screen and ( max-width: 375px ) {
.toggle-switch {
margin:0;
}
}