.card {
  width: 323px;
  position: relative;
  display: flex;
  justify-content: center;
}

.card__name {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #000;
  opacity: 0.6;
  text-align: center;
  font-family: "CabinetGrotesk-Bold", sans-serif;
  border: #fff solid 1px;
  padding: 5px 10px;
  background-color: #fff;
  border-radius: 8px;
}

.card__image {
  width: 100%;
  height: 328px;
  object-fit: cover;
  border-radius: 8px;
  border-color: rgba(0, 0, 0, 0.3);
  border-style: solid;
  border-width: 1px;
}

.cards__text {
  font-family: "CabinetGrotesk-Bold", sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: #000;
  margin: 40px 0 40px 0;
  visibility: visible;
}

.card__image-container {
  position: relative;
}

.card__header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;           
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 15px;       
  z-index: 10;         
}

.heart__button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  font-size: 1.5rem;
  color: #000000;
  opacity: 0.6;
  line-height: 0;
}

.heart__button:hover {
  opacity: 1;
}

@media screen and (max-width: 375px) {
  .cards__text {
    display: none;
  }

  .cards__list {
    display: grid;
    gap: 16px;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr;
  }

  .card {
    flex: 0 1 164px;
    box-sizing: border-box;
    width: auto;
  }
  
}
