.modal__content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.modal__image {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.modal__preview {
  font-size: 20px;
  text-align: left;
  padding: 24px 32px 32px 32px;
  display: flex;
  flex-direction: column;
}

.modal__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal__caption {
  margin: 0;
  font-size: 20px;
}

.modal__weather {
  margin: 12px 0 0 0;
}

.modal__content_type_image {
  padding: 0;
}

.modal__delete {
  color: #ff4d00;
  border: none;
  font-size: 20px;
  background-color: transparent;
  cursor: pointer;
}
