.sideBar {
  display: flex;
  width: 229px;
  display: contents;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  margin-right: 16px;
}

@media screen and (max-width: 375px){
  .sideBar {
    display: none;
  }
}
