.clothes__section {
  margin: 0;
  padding: 0;
}

.clothes__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

.clothes__header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 24px;
}

.clothes__title {
  display: flex;
}

.clothes__add-btn {
  border: none;
  padding: 0;
  background-color: transparent;
  opacity: 60%;
  margin: 0;
  cursor: pointer;
}

.your-items {
  margin-right: 20px;
}

@media screen and (max-width: 375px) {
  .clothes__list {
    grid-template-columns: 1fr 1fr;
  }

  .clothes__section-text {
    justify-content: space-between;
    margin-top: 17px;
  }
}
