

.clothes__section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.clothes__section-list {
    display: flex;
    flex-direction:column;
    
}

.clothes__section-text {
    display: flex;

}

.add-clothes-btn {
  border:none;
  padding:0;
  background-color: transparent;
  opacity: 60%;
  margin: 0;
  cursor: pointer;
}

.your-items {
    margin-right: 20px;
}

@media screen and (max-width: 375px) {

    .clothes__section {
    grid-template-columns: 1fr 1fr;
  }

  .clothes__section-text {
    justify-content: space-between;
    margin-top: 17px;
  }
}
