.add-button {
    border:none;
    color:black;
    opacity: 60%;
}

.add-new{
    display:flex;
    gap: 20px;
    margin-left: 40px;
}

.clothes__section{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}